*{
  margin: 0;
  padding: 0;
  background-color: black;
  color : white;
  font-family: sans-serif;

}
.headerContainer{
    width : 100%;
    height: 30%;
    background-color: rgb(255, 255, 255);
}